<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <title>Historical DCA for Greek Stocks</title>
</head>

<body>

<pre>
RESULT: {{ result }}
SUMMARY: {{ summary }}
COMPARE: {{ compare }}
SNP500: {{ snp500 }}
</pre>


    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div>
                    <p>
                    <h1>Start Your Calculation</h1>
                    </p>
                </div>
                <div>
                    <p>
                    <h4>Choose an investment, set how much you want to contribute, and discover how your wealth might
                        have grown with dollar-cost averaging.</h4>
                    </p>
                </div>

            </div>

        </div>

    </div>

    <div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="row">

            <div class="col-md-4 pt-5">
                <label for="asset">Investment Asset</label>
                <select class="form-select" name="asset" id="asset">
                    <option value="AETF.AT">ALPHA ETF FTSE (AETF.AT)</option>
                    <option value="9O1.F">Athens International Airport S.A. (9O1.F)</option>
                    <option value="GF8.F">Organization of Football Prognostics S.A. (GF8.F)</option>
                    <option value="SPY">S&amp;P 500 ETF (SPY)</option>
                    <option value="SPY">S&amp;P 500 ETF (SPY)</option>
                    <option value="SPY">S&amp;P 500 ETF (SPY)</option>
                    <option value="SPY">S&amp;P 500 ETF (SPY)</option>
                </select>
            </div>

            <div class="col-md-4 pt-5">
                <label for="initial">Initial Investment (Optional)</label>
                <input class="form-control" type="text" name="initial" id="initial" placeholder="enter amount here in €">
            </div>

            <div class="col-md-4 pt-5">
                <label for="monthly">Monthly Contribution</label>
                <input class="form-control" type="text" name="monthly" id="monthly" placeholder="enter amount here in €">
            </div>

            <div class="col-md-4 pt-5">
                <label for="date" class="mt-3">Start Date</label>
                <input type="date" id="startdate" name="startdate" class="form-control" value="2018-07-22">
            </div>

            <div class="col-md-4 pt-5">
                <label for="date" class="mt-3">End Date</label>
                <!-- value="{{ today|date:'Y-m-d' }}" -->
                <input type="date" id="enddate" name="enddate" class="form-control" value="2025-11-01">
            </div>

            <div class="col-md-1 pt-5">
                <button type="submit" class="mt-5 btn btn-primary mt-4">Calculate</button>

            </div>

            <div class="col-md-3 pt-5">
                <label class="pt-5">
                    <input type="checkbox" name="compare" id="compare"> Compare with S&amp;P 500 ETF
                </label>
            </div>

        </div>
    </form>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Total Investment</h5>
                        <p class="card-text">{{ summary.total_investment|floatformat:2 }} €</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Total Value</h5>
                        <p class="card-text">{{ summary.total_amount|floatformat:2 }} €</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Profit</h5>
                        <p class="card-text">{{ summary.profit|floatformat:2 }} €</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Annualized Return</h5>
                        <p class="card-text">{{ summary.annualized_return|floatformat:2 }} %</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    {% if snp500 %}
        <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Total Investment</h5>
                        <p class="card-text">{{ snp500sum.total_investment|floatformat:2 }} €</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Total Value</h5>
                        <p class="card-text">{{ snp500sum.total_amount|floatformat:2 }} €</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Profit</h5>
                        <p class="card-text">{{ snp500sum.profit|floatformat:2 }} €</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Annualized Return</h5>
                        <p class="card-text">{{ snp500sum.annualized_return|floatformat:2 }} %</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    {% endif %}

    <div style="width:100%;height:400px;">
    {{ plot_div|safe }}
    </div>


</div>


</body>

</html>